<div id="header-text"> 

<h1> Viajero Fachero </h1>

<p class="autor"> **Por Antonio Dromundo** </p>
<p> Me gusta escribir para compartir 
lo que voy aprendiendo en mi dia a dia. 
Cada semana hay un nuevo post, te promero que habra muchos aprendizajes. 
Este blog sera testigo de mi viaje, estos textos son mi vida plasmada en historias.
</p>
</div>


<div id="header-photo">
      <img src="../../public/photo.png" />
</div>


<style>
  h1 { color: red; }
  
</style>